html {
    background-color: rgb(238, 226, 223);
}
header {
    background-color: #dec1db;
    display: flex;
    
}

#boton-contacto {
    margin-left: 20%;
}
img {
    width: 5em;
}
nav ul {
    display: flex;
    padding: 0 2%;
    justify-content: left;
}
nav ul li {
    list-style: none;
    color: black;
    margin: 2%;
}
nav {
    display: flex;
    margin: 0 42.6%;


}
section {
    margin: 0%;
    padding: 0%;
}